:root {
    --cafe: #e9d6b3;
    --lila: #865dc1;    ;
    --azul: #add8e6;
    --gris: #fafafa;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/***HEADER***/

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.redes-header {
    margin: 10px 0 0 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    /* text-shadow: 0 0 1px purple, 0 0 2px purple; */
    -webkit-text-stroke: 1px purple;
}

/***MENU***/

.barra {
    background-image: linear-gradient(var(--lila) 5%, #c7badb 13% 16%, var(--lila) 40%);
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    font-size: small; /*16px - 1em*/
}

.menu ul {
    padding: 0;
}

.menu ul li {
    display: inline-block;
    padding: 10px;
}

/****CONTENIDO***/

section, aside {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0;
}

section {
    width: 60%;
    padding: 0 15px;
}

.art2 {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.art2 h2 {
    color: var(--azul);
    font-size: 28px;
    margin: 0 0 10px;
}

.art2 img {
    width: 160px;
    border: 5px solid #bbb;
    vertical-align: top;
}

.art2 button {
    color: #fff;
    background: var(--cafe);
    border: none;
    padding: 8px 5px;
    border-radius: 8px;
    font-style: italic;
    font-weight: bold;
}

.contenido-post {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
}

.texto-post {
    font-size: 14px;
}

.autor-post {
    font-size: 12px;
    background: var(--gris);
    box-shadow: 2px 2px #bbb;
    border-radius: 5px;
    padding: 6px;
}

.autor-post span {
    font-style: italic;
    color: gray;
}


aside {
    width: 36%;
}


/***ASIDE***/

.barra-aside{
    text-align: center;
    padding: 7px 0;
}

.boder-aside {
    border: 1px solid #bbb;
    border-radius: 5px;
}

.publicidad-img {
    text-align: center;
    margin: 15px 0;
} 

.publicidad-img img {
    width: 40%;
    border: 2px solid #bbb;
}

.buscador-aside, .publicidad-aside, .categorias-aside {
    margin: 20px 0 0;
}

.buscador-aside form {
    width: 160px;
    border: 1px solid #bbb;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}

.buscador-aside input[type="search"] {
    width: 130px;
    height: 20px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.buscador-aside input[type="submit"] {
    width: 20px;
    height: 20px;
    border: 1px solid #bbb;
    border-radius: 50%;
    color: #fff;
    background: var(--azul);
}

.categorias-aside ul {
    padding: 0 30px 0 40px;
}

.categorias-aside li{
    color: var(--azul);
    font-size: 12px;
    border-bottom: 1px dotted #bbb;
    padding: 2px 0 10px;
}